<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Ak203DbContext" connectionString="server=localhost;port=3306;database=ak203;user id=root;password=root" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
